* {
    box-sizing: border-box;
    margin: 1px;
    padding: 0;
}

/* General Body Rules */

body {
    background-color: #4D4D4D;
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
    border:none;
    box-shadow:none;
}

#wrapper {
	max-width:960px; 
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	background-color: #ffffff;
	border:none;
	padding:5px;
	box-shadow: -10px 0px 20px  #000000;
	}

p {
    margin: 16px 0px 0px 16px;
    box-shadow:none;
}

/* Header Rules */

.banner {
    background-color: #730000;
    width:100%;
    max-height:200px;
    border-style:none;
    box-shadow:none;
}


header {
    background-color: #ffffff;
    height: 240px;
    width: 98%; 
    font-size: 18px;
    float: left;
    margin: 10px;
    border-style:none;
    box-shadow:none;
}

header a {
    color: #000000;
    text-decoration: none; 
}

header a:hover {
    color: #6c6a6a; /* Found on a color picker website */
}

header a:active {
    text-decoration: underline;
}
/*Nav Dropdown */

.clearfix:after {
    display:block;
    clear:both;
}
 
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}

 .menu {
     width: 98%;
     margin:0px auto;
 }
.menu li {
    margin:0px;
    list-style:none;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}
/* End Nav Dropdown rules */

nav .social {
    margin-top: -10px;
    float: right;
}

.social img {
    border: 0;
    max-width: 32px;
    max-height: 32px;
}


/* More specific article rules */

article {
    padding: 0 20px 0 20px;
}


article h1 {
    font-family: "Goudy Bookletter 1911", Georgia, Times, serif;
    font-size: 36px;
    line-height: 44px;
    margin-top: 10px;
    margin-bottom: 5px;
}


article h2 {
    font-family: "Goudy Bookletter 1911", Georgia, Times, serif;
    font-size: 22px;
    line-height: 36px; 
    margin-top: 5px;
    margin-bottom: 5px;
}

aside {
     padding-top:10px;
     float: right;
     width: 22%;
     padding-left: 1%;
     padding-right: 2%;
}

footer {  
    font-size: 12px;
    padding: 0 10px 0 10px;
}

/*help here */
.left {
    float: left;
    height: 100%;
    width: 80%;
}
.right {
    margin-left: 275px;
    height: 450px; 
}


.inline {
    margin: 0px; 
    padding: 0px;
}

.resources img {
    float: left; 
    max-width: 75px;
    max-height: 75px;
    margin: 10px 10px 0px 10px;
    padding: 0px;
}

.blog {
    margin-left: 55px;
}
/*Specific resume rules */
.resume {
    font-family: "times new roman", sans-serif; 
}

.resume a {
    color: #000000;
}

.resume a:hover {
    text-decoration: none;
    color: #6c6a6a;
}

h3 { 
    text-align: center;  
    font-size: 20px; 
    margin-top: 40px; 
    margin-bottom: 0px;
}

.resumesubtitle {
    clear: both; 
    margin: 0px; 
    text-align: center; 
    border-bottom: 5px solid black; 
}

.resume p {
    margin: 0px;
    padding: 0px;
}

.date {
    float: right; 
}


ul {
    margin: 0px 0px 0px 35px;
    padding: 0px; 
}

li {
    padding: 0px;
    margin: 0px;
}
/*End resume rules*/

    
    
/* More general things at the top and more specific on the bottom */
/* When talking about height use pxs, width use percents */

@media (max-width: 600px) {
    #wrapper {
        width: 95%;
    }
}
